.cw{
	text-align: center;
	margin-top: 20px;
	color: rgb(132, 57, 0);
	font-size: 22px;
}
.bd{
	height: 400px;
	width: 350px;
	background-image: url(../img/rehan-mallick-734287-unsplash.jpg);
	background-size: cover;
	margin: 30px auto;
	padding: 20px 0;
	border-radius: 12px;
}
.biao{
	height: 20px;
	width: 200px;
	vertical-align: middle;
	line-height: 40px;
	display: block;
	margin: 20px auto;
}
.bd>span{
	position:relative;
	top: 41px;
	left: 4px;
	color: #FFFFFF;
}
#dan4{
	margin-top: 50px;
	width: 80px;
	height: 40px;
}